/* Recipe Scale Component Styles */

@media print {
  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:relative {
    position: relative !important;
  }

  .print\:bg-white {
    background-color: white !important;
  }

  .print\:max-h-none {
    max-height: none !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }
}
